<ul class="uk-list uk-list-striped">
  <li>Chen does NOT support Internet Explorer and older versions of Firefox, Chrome, Opera and Safari.</li>
  <li>Max file size is 50MiB, hopefully I won't have to change this to a even lower number. (read: don't be an ass).</li>
  <li>No Child porn, anything else goes until I get a lawsuit I guess. (unless its a virus, because that goes into the being an ass category).</li>
  <li>All filetypes are allowed, ALL! (gif,exe,jpg,rar,ass,srt,etc,etc).</li>
  <li>Any file can be removed or replaced at any time for any reason.</li>
  <li>No logs are kept, no logs over uploading nor over downloading. This can be temp enabled to stop certain spamming (read: child porn or such).</li>
</ul>
