<ul class="uk-list uk-list-striped">
  <li>Max file size is 50MiB.</li>
  <li>No Child porn.</li>
  <li>All filetypes are allowed.</li>
  <li>No logs are kept, no logs over uploading nor over downloading.</li>
</ul>
